input,
select,
textarea {
    color: var(--bs-gray-800) !important;
}

body * {
    color: var(--bs-gray-800);
    font-family: "DM Sans", "El Messiri";
    font-weight: 500 !important;
    transition: 0.3s all ease-in-out;
}

body,
html {
    overflow-x: hidden;
}

button,
a,
input,
select,
textarea,
checkbox,
radio {
    box-shadow: none !important;
}

.form-control:focus {
    color: inherit;
    border-color: var(--color-theme);
}

.bg--main {
    background-color: #f8f8f8;
    background-image: url("../../assets/img/Covers/animated-bg-3.svg");
}

.regulate--link {
    color: inherit;
    text-decoration: none;
}

.regulate--link:hover,
.regulate--link:focus {
    color: inherit;
    text-decoration: none;
}

/* btns */

.btn--navbar {
    background-color: var(--bg-theme);
    color: var(--bs-white);
    border-radius: 0px;
    height: var(--navbar-btn-height);
    display: flex;
    align-items: center;
    text-transform: capitalize;
    justify-content: start;
    border: 2px solid transparent;
    margin-bottom: 5px;
}

.btn--navbar:hover,
.btn--navbar:focus {
    background-color: transparent;
    color: var(--color-theme);
    border: 2px solid var(--bg-theme);
}

.btn--navbar-arrow {
    background-color: transparent;
    color: var(--color-theme);
    justify-content: center;
    border-color: var(--color-theme);
}

.btn--navbar svg {
    fill: var(--bs-white);
    font-size: 30px;
    margin-right: 25px;
    width: 30px;
}

.btn--navbar:hover svg,
.btn--navbar:focus svg {
    fill: var(--color-theme);
}

/* btn / theme */

.btn--theme {
    background-color: var(--bg-theme);
    color: var(--bs-white);
    border-radius: 0px;
    height: var(--btn-height);
    display: inline-flex;
    align-items: center;
    text-transform: uppercase;
    justify-content: start;
    border: 2px solid transparent;
}

.btn--theme:hover,
.btn--theme:focus {
    background-color: transparent;
    color: var(--bg-theme);
    border: 2px solid var(--bg-theme);
}

.btn--theme svg,
.btn--theme svg {
    fill: var(--bs-white);
}

.btn--theme:hover svg,
.btn--theme:focus svg {
    fill: var(--color-theme);
}

.btn--outline-theme {
    background-color: transparent;
    color: var(--bg-theme);
    border-radius: 0px;
    height: var(--btn-height);
    display: inline-flex;
    align-items: center;
    text-transform: uppercase;
    justify-content: start;
    border: 2px solid var(--bg-theme);
}

.btn--outline-theme:hover,
.btn--outline-theme:focus {
    background-color: var(--bg-theme);
    color: var(--bs-white);
}

.btn--outline-theme svg,
.btn--outline-theme svg {
    fill: var(--color-theme);
}

.btn--outline-theme:hover svg,
.btn--outline-theme:focus svg {
    fill: var(--bs-white);
}

/* btn - extra */

.btn--sm {
    height: var(--btn-height-sm);
}

.btn--submit {
    width: 180px;
    font-size: 15px;
    justify-content: center;
}

.btn--outline-danger {
    background-color: transparent;
    color: var(--delete-color) !important;
    border-color: var(--delete-color) !important;
}

.btn--outline-danger:hover,
.btn--outline-danger:focus {
    background-color: var(--delete-color) !important;
    color: white !important;
    border-color: var(--delete-color) !important;
}

/* btn icons */

.btn--raw-icon {
    width: 100%;
    padding: 0px;
    height: 100%;
    font-size: 20px;
    border: none !important;
}

.btn--raw-icon.edit svg {
    fill: var(--edit-color);
}

/* inputs / label */

input:read-only {
    background-color: var(--result-bg-odd);
    cursor: not-allowed;
}

input::placeholder {
    font-weight: 500;
    color: var(--bs-gray-500);
}

.row--label {
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    white-space: pre-wrap;
    padding: 0px;
}

.form--label {
    font-size: 14px;
    display: block;
    padding: 0px;
    position: relative;
}

.form--input {
    width: 100%;
    height: var(--input-height);
    border: 1px solid var(--bs-gray-300);
    border-radius: var(--input-radius);
    padding: var(--input-padding);
    font-size: var(--input-font);
}

/* textarea */

.form--textarea {
    height: 110px;
    padding: 15px 15px;
}

/* date */

input[type="date"] {
    letter-spacing: 1.2px;
}

/* checkbox */

.form--checkbox {
    display: inline-flex;
    margin: 0px !important;
    align-items: center;
    padding: 0px;
}

.form--checkbox input {
    font-size: 20px;
    margin: 0px !important;
}

.form--checkbox label {
    margin: 0px;
    margin-left: 10px;
    font-size: 16px;
}

/* hr label */

.hr--label {
    font-size: 12px;
    min-width: 110px;
    max-width: 150px;
}

.hr--subtitle {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.hr--subtitle .col-3 {
    text-align: center;
}

.hr--subtitle h5 {
    text-align: center;
    font-size: 13px;
    font-weight: 600 !important;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    margin-bottom: 0px !important;
    background-color: var(--edit-color);
    color: white;
    display: inline-flex;
    padding: 1px 8px;
    margin: auto;
    align-items: center;
    border-radius: 2px;
}

.hr--subtitle hr {
    border-color: var(--bs-gray-500);
    margin: 0px;
}

/* link */

a:hover {
}

/* tooltips */

.tooltip {
    font-size: 12px;
}

/* dropdown */
.results--dropdown-menu {
    min-width: 110px;
}

/* pagination */

.pagination--wrap {
    align-items: center !important;
}

.pagination--wrap ul,
.pagination--wrap p {
    margin-bottom: 0px !important;
}

.pagination--wrap p {
    letter-spacing: 0.4px;
    border-bottom: 1px dashed var(--color-theme);
}
.page-item .page-link {
    background-color: white;
    border-color: var(--color-theme);
    color: var(--color-theme);
    padding: 6px 20px;
}

.page-item.active .page-link,
.page-item:hover .page-link,
.page-item:focus .page-link {
    background-color: var(--color-theme);
    border-color: var(--color-theme);
    color: white;
}

.page-item.disabled .page-link {
    pointer-events: none !important;
    color: white;
    background-color: var(--color-theme);
}
